.wpmk-pdf-main{
    width: 80%;
    margin: 0px auto;
    margin-top: 20px;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 5px;
}
.wpmk-pdf-section-title{
    padding: 5px;
    background: #EDEDED;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
    font-size: 15px;
    text-transform: capitalize;
}
.wpmk-pdf-btn-box{
    overflow: hidden;
    margin-bottom: 10px;
}
.wpmk-pdf-input{
    float: left;
    margin-right: 5px;
}
.wpmk-pdf-label{
    float: left;
    color: #000000;
    position: relative;
    top: -3px;
}
.wpmk-pdf-icon-set{
    overflow: hidden;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #EDEDED;
}
.wpmk-pdf-icon-box{
    float: left;
    margin-right: 10px;
}
.answer {
    background: #f6f6f6;
    padding: 10px;
    border-radius: 8px;
    /* border: 1px solid gray; */
    margin-bottom: 20px;
}
.answer ul{
    list-style: none;
}
.my_email{
    width: initial !important;
    margin-right: 20px;
}
.lessons_list{
    list-style: none;
    border-radius: 10px;
    border: 1px solid #444;
    padding: 0;
    margin: 0;
}
.lessons_list li{
    margin: 0 !important;
    position: relative;
}
.lessons_list li a:first-child{
    display: block;
    padding: 8px 20px;
}
.lessons_list li .locked{
    position: absolute;
    right: 20px;
    bottom: 12px;
}
.lessons_list li .check_done{
    position: absolute;
    right: 20px;
    font-size: 28px;
    color: #3abf0a;
    bottom: 0px;
}
.lessons_list.active li:not(.lesson_lock):hover, .current_lesson{
    background: #f2ffcd;
    border-radius: 10px;
}
.lessons_list svg, .course_list svg{
    padding-right: 10px;
}
.lessons_list.not_active {
    background: #5e5e5e;
}
.lessons_list.not_active li:hover{
    background: #575757;
}
.lesson_lock{
    background: #bbb;
    padding: 8px 20px;
}
.warning{
    display: block;
    color: red;
    font-style: italic;
    margin-bottom: 15px;
}
#active_account{
    text-align: center;
}
.align_right{
    text-align: right;
}
.course_list{
    padding: 0;
    margin: 0;
}
.course_list li{
    position: relative;
    list-style: none;
    border-radius: 10px;
    border: 1px solid #444;
    padding: 0;
    margin-left: 0 !important;
    margin-bottom: 4px;
}
.course_list li a{
    display: block;
    padding: 8px 15px;
}
.course_list li:hover a{
    background: #f2ffcd;
    border-radius: 10px;
}
.course_list .check_done{
    position: absolute;
    right: 20px;
    font-size: 24px;
    bottom: 1px;
}
.green {
    color: #3abf0a;
}
.red {
    color: rgb(216, 0, 0);
}
.course_list .percent{
    font-size: 18px;
    bottom: 7px;
}
.pagination{
    text-align: center;
    margin-top: 15px;
    color: #4b8623;
}
.pagination li{
    list-style: none;
    display: inline;
    margin: 0 !important;
    padding: 5px 10px;
    background: #d8ff4e;
    border-radius: 5px;
}
.add_new_user {
    display: block;
    margin-top: 20px;
}
.add_new_user button {
    margin: 0;
    border-radius: 8px;
}
.add_new_user form{
    display: none;
}
.add_new_user label, .add_new_user input[type="text"], .add_new_user input[type="submit"]{
    display: inline-flex;
    vertical-align: inherit;
    width: initial;
    margin-right: 8px;
    border-radius: 8px;
}
button.closed_button{
    border: 1px solid red;
    padding: 0 11px;
    min-height: 35px;
    display: inline-block;
    height: 35px;
    line-height: 30px;
    vertical-align: unset;
    border-radius: 20px;
    background: #df0000;
    color: white;
}
.user_info *{
    display: block;
    text-align: center;
    margin: 0 auto;
}
.register_account .disable{
    background: lightgray;
    color: gray;
}
.register_account input[type="text"], .register_account input[type="email"], .register_account input[type="submit"]{
    display: block;
    border-radius: 8px;
}
.back_button{
    display: block;
    font-size: 28px;
    margin-bottom: 20px;
}
a.delete_user{
    position: absolute;
    display: none;
    right: 8px;
    top: 6px;
    background: #ec2100;
    color: white;
    padding: 2px 8px;
    border-radius: 20px;
}
.lessons_list li:hover a.delete_user{
    display: block;
    color: white;
}
a.delete_user svg{
    padding: 0;
}